.container {
    color: white;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
}

.pageLinks {
    a {
        margin-right: 1rem;
    }
}



.login {
    .inner {
        display: flex;
        align-items: center;

        span {
            margin-right: 1rem;
        }
    }
    
    .avatar {
        border-radius: 50%;
    }
}